@page "/"
@namespace colinandlaura.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colin and Laura</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/snow.css" rel="stylesheet" />
    <link href="colinandlaura.styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="snowflakeContainer">
        <span class="snowflake"></span>
    </div>
    <script src="_framework/blazor.server.js"></script>

    <script>
        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
            document.location.reload();
        }
    </script>

    <script src="/js/snow.js"></script>
</body>

</html>
